@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap");
/**
* import button css
*/
@import "./button.css";
html,
body,
p {
  /*background-color: black; */
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
  font-family: "JetBrains Mono", "Fira Code", "Menlo", "Monaco", monospace;
}

a {
  color: inherit;
  text-decoration: none;
}
ul,
ol {
  list-style: unset !important;
  margin-left: 25px !important;
}
ol {
  list-style: decimal !important;
}
* {
  box-sizing: border-box;
  /* color: #ddd; */
}
.blog {
  @apply dark:text-gray-400;
  @apply text-gray-600;
}
.blog h2 {
  @apply text-3xl;
  @apply mb-3;
  @apply mt-3;
  @apply text-gray-900;
  @apply dark:text-gray-200;
  @apply leading-loose;
  @apply font-extrabold;
}

.blog h3 {
  @apply text-2xl;
  @apply mt-3;
  @apply mb-3;
  @apply text-gray-900;
  @apply dark:text-gray-200;
  @apply font-extrabold;
  @apply leading-loose;
}

.blog p,
body b {
  @apply dark:text-gray-400;
  @apply text-gray-600;
  @apply mt-3;
  @apply mb-3;
  @apply leading-8;
}

.blog strong {
  @apply font-extrabold;
  @apply leading-snug;
  @apply text-gray-900;
  @apply dark:text-gray-200;
}

.blog hr {
  @apply mb-4;
  @apply mt-4;
  @apply dark:border-gray-900;
  @apply border-gray-200;
}
.blog a {
  @apply text-green-600;
  @apply dark:text-green-700;
}
#nprogress .bar {
  @apply bg-gradient-to-r !important;
  @apply from-green-600 !important;
  @apply via-indigo-600 !important;
  @apply to-pink-600 !important;
  @apply dark:bg-green-700 !important;
}

.hero:hover .myimg {
  @apply blur-0;
}
.box-cont:hover .handle {
  @apply opacity-100;
}
.handle {
  @apply opacity-0;
  @apply transition-opacity;
  @apply duration-300;
  @apply ease-in-out;
}

::selection {
  @apply text-white;
  @apply bg-green-300;
  @apply dark:bg-green-700;
}

.code-block:hover .copy-button {
  @apply opacity-100;
}
