@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;700&display=swap");
/**
* import button css
*/
@import "./button.css";
html,
body,
p {
  /*background-color: black; */
  padding: 0;
  scroll-behavior: smooth;
  margin: 0;
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
ul,
ol {
  list-style: unset !important;
  margin-left: 25px !important;
}
ol {
  list-style: decimal !important;
}
* {
  box-sizing: border-box;
  /* color: #ddd; */
}
.blog {
  @apply dark:text-gray-300;
  @apply text-gray-700;
}
.blog h2 {
  @apply text-base;
  @apply mb-2;
  @apply mt-8;
  @apply text-gray-900;
  @apply dark:text-gray-200;
  @apply leading-snug;
  @apply font-bold;
}

.blog h3 {
  @apply text-base;
  @apply mt-6;
  @apply mb-2;
  @apply text-gray-900;
  @apply dark:text-gray-200;
  @apply font-semibold;
  @apply leading-snug;
}

.blog p,
body b {
  @apply dark:text-gray-300;
  @apply text-gray-700;
  @apply mt-3;
  @apply mb-3;
  @apply leading-8;
}

.blog strong {
  @apply font-extrabold;
  @apply leading-snug;
  @apply text-gray-900;
  @apply dark:text-gray-200;
}

.blog hr {
  @apply mb-4;
  @apply mt-4;
  @apply dark:border-gray-900;
  @apply border-gray-200;
}
.blog a {
  @apply text-gray-600 underline;
  @apply dark:text-gray-400;
}
#nprogress .bar {
  @apply bg-black !important;
  @apply dark:bg-white !important;
}

.hero:hover .myimg {
  @apply blur-0;
}
.box-cont:hover .handle {
  @apply opacity-100;
}
.handle {
  @apply opacity-0;
  @apply transition-opacity;
  @apply duration-300;
  @apply ease-in-out;
}

::selection {
  @apply bg-black text-white;
  @apply dark:bg-white dark:text-black;
}

.code-block:hover .copy-button {
  @apply opacity-100;
}
